In [6]:
import pandas as pd
from tqdm import tqdm
import requests

In [2]:
df = pd.read_csv('Config.csv')

In [3]:
df

,Unnamed: 0,District_Code,District,Province,Code
0,0,1001,เขตพระนคร,กรุงเทพมหานคร,10
1,1,1002,เขตดุสิต,กรุงเทพมหานคร,10
2,2,1003,เขตหนองจอก,กรุงเทพมหานคร,10
3,3,1004,เขตบางรัก,กรุงเทพมหานคร,10
4,4,1005,เขตบางเขน,กรุงเทพมหานคร,10
...,...,...,...,...,...
2637,2637,9695,ท้องถิ่นเทศบาลตำบลบาเจาะ,นราธิวาส,96
2638,2638,9696,ท้องถิ่นเทศบาลตำบลต้นไทร,นราธิวาส,96
2639,2639,9697,ท้องถิ่นเทศบาลเมืองตากใบ,นราธิวาส,96
2640,2640,9698,ท้องถิ่นเทศบาลเมืองสุไหงโกลก,นราธิวาส,96
2641,2641,9699,ท้องถิ่นเทศบาลเมืองนราธิวาส,นราธิวาส,96

In [44]:
import pandas as pd
import requests
from tqdm import tqdm

# Assuming df is your DataFrame and it's already defined
temp_table = {'Province':[], 'Province_code': [], 'District':[], 'District_code':[], 'Male':[],'Female':[], 'Male_key':[],'Female_key':[]}

#sample = df.iloc[:5,]
# Iterate over the sample with a progress bar
for i in tqdm(zip(df['District_Code'], df['Code'], df['Province'], df['District']), total=len(df)):
    url_cc = f"https://stat.bora.dopa.go.th/stat/statnew/connectSAPI/stat_forward.php?API=/api/statpophouse/v1/statpop/list?action=24&yymm=6612&nat=99&popst=0&region=null&cc={str(i[1])}&rcode={str(i[0])}&tt=NaN&mm=null"
    response = requests.get(url_cc)
    
    if response.status_code == 200:
        data = response.json()
        temp_table['Province'].append(i[2])
        temp_table['Province_code'].append(i[1])
        temp_table['District'].append(i[3])
        temp_table['District_code'].append(i[0])
        temp_table['Male'].append(list(data[0].values()))
        temp_table['Female'].append(list(data[1].values()))
        temp_table['Male_key'].append(list(data[0].keys()))
        temp_table['Female_key'].append(list(data[0].keys()))
    else:
        print(f"Error: Unable to fetch data for District_Code {i[0]}, Province_Code {i[1]}, status code {response.status_code}")

pre_table_popst_0 = pd.DataFrame(temp_table)

100%|██████████| 2642/2642 [03:59<00:00, 11.04it/s]

In [45]:
import pandas as pd
import requests
from tqdm import tqdm

# Assuming df is your DataFrame and it's already defined
temp_table = {'Province':[], 'Province_code': [], 'District':[], 'District_code':[], 'Male':[],'Female':[], 'Male_key':[],'Female_key':[]}

#sample = df.iloc[:5,]
# Iterate over the sample with a progress bar
for i in tqdm(zip(df['District_Code'], df['Code'], df['Province'], df['District']), total=len(df)):
    url_cc = f"https://stat.bora.dopa.go.th/stat/statnew/connectSAPI/stat_forward.php?API=/api/statpophouse/v1/statpop/list?action=24&yymm=6612&nat=99&popst=0&region=null&cc={str(i[1])}&rcode={str(i[0])}&tt=NaN&mm=null"
    response = requests.get(url_cc)
    
    if response.status_code == 200:
        data = response.json()
        temp_table['Province'].append(i[2])
        temp_table['Province_code'].append(i[1])
        temp_table['District'].append(i[3])
        temp_table['District_code'].append(i[0])
        temp_table['Male'].append(list(data[0].values()))
        temp_table['Female'].append(list(data[1].values()))
        temp_table['Male_key'].append(list(data[0].keys()))
        temp_table['Female_key'].append(list(data[0].keys()))
    else:
        print(f"Error: Unable to fetch data for District_Code {i[0]}, Province_Code {i[1]}, status code {response.status_code}")

pre_table_popst_8 = pd.DataFrame(temp_table)

100%|██████████| 2642/2642 [04:05<00:00, 10.75it/s]

In [46]:
import pandas as pd
import requests
from tqdm import tqdm

# Assuming df is your DataFrame and it's already defined
temp_table = {'Province':[], 'Province_code': [], 'District':[], 'District_code':[], 'Male':[],'Female':[], 'Male_key':[],'Female_key':[]}

#sample = df.iloc[:5,]
# Iterate over the sample with a progress bar
for i in tqdm(zip(df['District_Code'], df['Code'], df['Province'], df['District']), total=len(df)):
    url_cc = f"https://stat.bora.dopa.go.th/stat/statnew/connectSAPI/stat_forward.php?API=/api/statpophouse/v1/statpop/list?action=24&yymm=6612&nat=99&popst=1&region=null&cc={str(i[1])}&rcode={str(i[0])}&tt=NaN&mm=null"
    response = requests.get(url_cc)
    
    if response.status_code == 200:
        data = response.json()
        temp_table['Province'].append(i[2])
        temp_table['Province_code'].append(i[1])
        temp_table['District'].append(i[3])
        temp_table['District_code'].append(i[0])
        temp_table['Male'].append(list(data[0].values()))
        temp_table['Female'].append(list(data[1].values()))
        temp_table['Male_key'].append(list(data[0].keys()))
        temp_table['Female_key'].append(list(data[0].keys()))
    else:
        print(f"Error: Unable to fetch data for District_Code {i[0]}, Province_Code {i[1]}, status code {response.status_code}")

pre_table_popst_9 = pd.DataFrame(temp_table)

100%|██████████| 2642/2642 [04:02<00:00, 10.88it/s]

In [47]:
pre_table_popst_0

,Province,Province_code,District,District_code,Male,Female,Male_key,Female_key
0,กรุงเทพมหานคร,10,เขตพระนคร,1001,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 67, 67, 72, 9...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 43, 62, 76, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
1,กรุงเทพมหานคร,10,เขตดุสิต,1002,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 143, 152, 166...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 155, 142, 157...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2,กรุงเทพมหานคร,10,เขตหนองจอก,1003,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 868, 839, 920...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 769, 820, 854...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
3,กรุงเทพมหานคร,10,เขตบางรัก,1004,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 64, 75, 77, 9...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 50, 52, 83, 8...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
4,กรุงเทพมหานคร,10,เขตบางเขน,1005,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 448, 546, 568...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 401, 460, 518...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
...,...,...,...,...,...,...,...,...
2637,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลบาเจาะ,9695,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 70, 83, 94, 7...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 63, 79, 80, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2638,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลต้นไทร,9696,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 33, 32, 31, 3...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 33, 35, 40, 3...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2639,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองตากใบ,9697,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 132, 175, 135...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 122, 123, 167...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2640,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองสุไหงโกลก,9698,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 186, 189, 202...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 192, 205, 208...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2641,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 269, 241, 272...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 246, 237, 256...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."

In [48]:
pre_table_popst_8

,Province,Province_code,District,District_code,Male,Female,Male_key,Female_key
0,กรุงเทพมหานคร,10,เขตพระนคร,1001,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 67, 67, 72, 9...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 43, 62, 76, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
1,กรุงเทพมหานคร,10,เขตดุสิต,1002,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 143, 152, 166...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 155, 142, 157...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2,กรุงเทพมหานคร,10,เขตหนองจอก,1003,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 868, 839, 920...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 769, 820, 854...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
3,กรุงเทพมหานคร,10,เขตบางรัก,1004,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 64, 75, 77, 9...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 50, 52, 83, 8...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
4,กรุงเทพมหานคร,10,เขตบางเขน,1005,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 448, 546, 568...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 401, 460, 518...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
...,...,...,...,...,...,...,...,...
2637,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลบาเจาะ,9695,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 70, 83, 94, 7...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 63, 79, 80, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2638,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลต้นไทร,9696,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 33, 32, 31, 3...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 33, 35, 40, 3...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2639,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองตากใบ,9697,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 132, 175, 135...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 122, 123, 167...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2640,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองสุไหงโกลก,9698,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 186, 189, 202...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 192, 205, 208...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2641,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 269, 241, 272...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 246, 237, 256...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."

In [49]:
pre_table_popst_9

,Province,Province_code,District,District_code,Male,Female,Male_key,Female_key
0,กรุงเทพมหานคร,10,เขตพระนคร,1001,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 67, 67, 72, 9...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 43, 62, 76, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
1,กรุงเทพมหานคร,10,เขตดุสิต,1002,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 201, 173, 181...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 215, 160, 170...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2,กรุงเทพมหานคร,10,เขตหนองจอก,1003,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 887, 848, 923...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 788, 823, 859...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
3,กรุงเทพมหานคร,10,เขตบางรัก,1004,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 156, 96, 105,...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 137, 86, 103,...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
4,กรุงเทพมหานคร,10,เขตบางเขน,1005,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 456, 554, 573...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 406, 466, 523...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
...,...,...,...,...,...,...,...,...
2637,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลบาเจาะ,9695,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 70, 84, 95, 8...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 64, 81, 80, 7...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2638,นราธิวาส,96,ท้องถิ่นเทศบาลตำบลต้นไทร,9696,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 33, 32, 31, 3...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 33, 35, 40, 3...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2639,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองตากใบ,9697,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 132, 175, 135...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 122, 123, 170...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2640,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองสุไหงโกลก,9698,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 225, 208, 215...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 233, 215, 218...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."
2641,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,"[0, , 0, 0, 0, 6612, 1, 0, 0, 0, 364, 265, 292...","[0, , 0, 0, 0, 6612, 2, 0, 0, 0, 317, 257, 278...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag...","[lstrLevel, lsageRcode, lsageAA, lsageTT, lsag..."

Clean

In [50]:
def clean_table(x):
  if len(x)==114:
    return x[10:112]
  else:
    return 'not match'

In [51]:
def prepare_table(pre_table):
    # ทำความสะอาดคอลัมน์ใน pre_table
    pre_table['Male'] = pre_table['Male'].apply(lambda x: clean_table(x))
    pre_table['Female'] = pre_table['Female'].apply(lambda x: clean_table(x))
    pre_table['Male_key'] = pre_table['Male_key'].apply(lambda x: clean_table(x))

    # สร้าง table dictionary เพื่อเก็บข้อมูลที่แปลงแล้ว
    table = {'Province': [], 'Province_code': [], 'District': [], 'District_code': [], 'Male': [], 'Female': [], 'Age': []}
    
    for I in range(len(pre_table)):
        table['Province'].extend([pre_table['Province'][I]] * 102)
        table['Province_code'].extend([pre_table['Province_code'][I]] * 102)
        table['District'].extend([pre_table['District'][I]] * 102)
        table['District_code'].extend([pre_table['District_code'][I]] * 102)
        table['Male'].extend(list(pre_table['Male'][I]))
        table['Female'].extend(list(pre_table['Female'][I]))
        table['Age'].extend(list(pre_table['Male_key'][I]))

    # แปลง table dictionary เป็น DataFrame
    table_df = pd.DataFrame(table)
    
    return table_df

In [52]:
pre_table_popst_0_prepare = prepare_table(pre_table_popst_0)

In [66]:
pre_table_popst_0_prepare['Condition'] = 'แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน'

In [72]:
pre_table_popst_0_prepare.to_csv('แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน.csv', index=False)

In [55]:
pre_table_popst_8_prepare = prepare_table(pre_table_popst_8)

In [67]:
pre_table_popst_8_prepare['Condition'] = 'แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้านกลาง'

In [73]:
pre_table_popst_8_prepare.to_csv('แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้านกลาง.csv', index=False)

In [57]:
pre_table_popst_9_prepare = prepare_table(pre_table_popst_9)

In [74]:
pre_table_popst_9_prepare['Condition'] = 'แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย'

In [75]:
pre_table_popst_9_prepare.to_csv('แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย.csv', index=False)

In [69]:
all_table = pd.concat([pre_table_popst_0_prepare, pre_table_popst_8_prepare, pre_table_popst_9_prepare])

In [70]:
all_table

,Province,Province_code,District,District_code,Male,Female,Age,Condition
0,กรุงเทพมหานคร,10,เขตพระนคร,1001,67,43,lsAge0,แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน
1,กรุงเทพมหานคร,10,เขตพระนคร,1001,67,62,lsAge1,แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน
2,กรุงเทพมหานคร,10,เขตพระนคร,1001,72,76,lsAge2,แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน
3,กรุงเทพมหานคร,10,เขตพระนคร,1001,98,70,lsAge3,แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน
4,กรุงเทพมหานคร,10,เขตพระนคร,1001,98,90,lsAge4,แยกตามจำนวนประชากรที่มีชื่ออยู่ในทะเบียนบ้าน
...,...,...,...,...,...,...,...,...
269479,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,8,6,lsAge97,แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย
269480,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,4,4,lsAge98,แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย
269481,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,4,3,lsAge99,แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย
269482,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,2,2,lsAge100,แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย
269483,นราธิวาส,96,ท้องถิ่นเทศบาลเมืองนราธิวาส,9699,23,24,lsAge101,แยกตามจำนวนประชากรที่อยู่ระหว่างการย้าย

In [71]:
all_table.to_csv('สถิติจำนวนประชากรแยกรายอายุ.csv', index=False)